/*
	Приватный модуль для генерации брейкпоинтов.
*/

@function gcf($a, $b) {
	@if $b == 0 { @return $a; }
	@else { @return gcf($b, $a % $b); }
}

@function contains($list, $value) {
	@if type-of($list) == list { @return not not index($list, $value); }
	@else { @return $list == $value; }
}

@mixin grid-calc($units, $modifier: '', $isMedia: off) {

	@each $n in $units {
		$x: $n - 1;
		@for $i from 1 through $x {
			$i-r: 0;
			$n-r: 0;
			$g: gcf($i, $n);
			@if $g > 1 {
				$i-r: $i/$g;
				$n-r: $n/$g;
			}
			$canreduce: contains($units, $n-r);
			.#{$modifier}x#{$i}d#{$n} {
				@if $canreduce {
					@extend .#{$modifier}x#{$i-r}d#{$n-r};
				}
				@else {
					max-width: percentage($i / $n);
					flex-basis: percentage($i / $n);
				}
			}
			@if $offsets == on {
				.#{$modifier}offset-x#{$i}d#{$n} {
					margin-left: percentage($i / $n);
				}
			}
			@if $modifier != '' {
				.#{$modifier}hide {
					display: none;
				}
				.#{$modifier}inline {
					display: inline-block;
				}
				.#{$modifier}block {
					display: block;
				}
				.#{$modifier}table {
					display: block;
				}
				.#{$modifier}cell {
					display: cell;
				}
			}
		}
	}
}