/*
	@module
		title: config *n
		type: scss *n
		caption:
			p{ Конфигом системы служит .scss-файл, который содержит 
			в себе настройки для всей системы вцелом. Он находится 
			в папке bd{ scss/_config.scss }. }p
		*n
*/

/*--------------------------------------------------------------
													КОНФИГ
--------------------------------------------------------------*/

/*@property
		name: $gutter *n
		caption: Отступ по бокам внутри ячейки сетки. 
			[$gutter|<content here>|$gutter]. Если параметр равен 0 - 
			контент прижимается вплотную к соронам блока. По умолчанию 
			задано 10пикс. *n
*/
$gutter: 							15px;

$offsets: 						on;

/*@property
		name: $grid_line_height *n
		caption: Высота строки или междустрочный интервал. Применяется 
			для bd{ <body> } *n
*/
$grid_line_height: 		20px;

/*@property
		name: $grid_sizes *n
		caption: Это массив с размерами шаблона. Если Вам дают макет 
			шириной в 1400 пикселей, то вы указываете 1400. Если в одном 
			шаблоне есть разные ширины сетки, к примеру 1400 и 960 пикселей, 
			то вы указываете их оба через запятую, при чем от меньшего к 
			большему. Допускается произвольное количество размеров 
			(если они Вам нужны). *n
*/
$grid_sizes:					(960, 1200);

/*@property
		name: $primary_grid *n
		caption: Основная ширина сетки. *n
*/
$primary_grid: 				1200;

/*@property
		name: $grid_prefixes *n
		caption: p{ Это массив, содержащий ассоциативные массивы с 
			брейкпоинтами. Брейкпоинты помогают Вам добиться отображения 
			при разных ширинах дисплея (адаптивный дизайн) иной ширины 
			блоков. }p 
			p{ Здесь x1d4 – ширина ячейки по умолчанию (1/4). на мобильном 
			телефоне мы хотим чтобы она отображалась по-другому (1/2), для 
			этого мы используем брейк-поинт x1d2--m, который на мобильном 
			устройстиве отобразит ячейку шире (1/2). }p
			p{ Массив состоит из ассоциативных массивов (480, ‘--m’), в 
			которых передается ширина, при которой брейкпоинт должен 
			сработать и префикс, по которому к брейкпоинту можно обратиться. 
			Вы сами можете создать сколько угодно брейкпоинтов. }p *n
			p{ Создает набор классов типа bd{.x<X>d<D>--<BRAKEPOINT>} }p *n
*/
$grid_prefixes: 			(480, 'tablet--') (768, 'big-tablet--') (1200, 'desktop--');

/*@property
		name: $grid_calc *n
		caption: p{ Это части, на которые можно “дробить” ячейки в 
			сетке. Мощнейшим преимуществом сетки есть дробление на 
			произвольное количество ячеек, и сетка может разбиваться не 
			на 12 колонок (как в Bootstrap), а на произвольное количество ячеек
			(например на 100, если это Вам нужно). }p 
			p{ Эти части являются как ширинами блока, так и ширинами ячеек.
			Это значит, что вам не обязательно указывать постоянную ширину 
			знаменателя (bd{x1d12}, bd{x3d12} и т.д). Это выражение - формирует 
			процент от ширины, соответственно, bd{x1d2} и bd{x6d12} - это 
			одно и то же (50%)) }p
			p{ Создает набор классов типа bd{.x<X>d<D>} }p *n
*/
$grid_calc: 					(1 2 3 4 5 6 7 8 9 10 11 12);

/*@property
		name: $fixed_widths *n
		caption: p{ Содержит массив с фиксированными размерами (в пикселях). }p 
			p{ Аналогично bd{$grid_calc}. }p*n
			p{ Создает набор классов типа bd{.w-fixed-<WIDTH>} }p *n
*/
$fixed_widths:        (50,100,150,200,250,300);

/*@property
		name: $islands *n
		caption: p{ Массив с размерами отступов. Эти отступы означают 
			равные отступы со всех сторон блока (от слова island, остров). 
			То есть указывая 10px – Вы указываете отступ в 10 пикселей со 
			всех сторон. Это есть padding и margin. }p 
			p{ Создает набор классов типа bd{.island-<NUMBER>} }p *n
*/
$islands: 						(5,10,15,20,25,30,35,40,45,50);

/*@property
		name: $vertical_indents *n
		caption: p{ Массив с размерами отступов. Аналогично bd{$islands},
			за исключением того, что отступы указываются только по вертикали. }p 
			p{ Создает набор классов типа: 
				ul{
					li{ bd{.pad-v<NUMBER>} - внутренний отступ сверху и снизу }li
					li{ bd{.pad-top-<NUMBER>} - внутренний отступ сверху }li
					li{ bd{.pad-bot-<NUMBER>} - внутренний отступ снизу }li
					li{ bd{.marg-v<NUMBER>} - внешний отступ сверху и снизу }li
					li{ bd{.marg-top-<NUMBER>} - внешний отступ сверху }li
					li{ bd{.marg-bot-<NUMBER>} - внешний отступ снизу }li
				}ul
			}p *n
*/
$vertical_indents: 		(5,10,15,20,25,30,35,40,45,50);

/*@property
		name: $vertical_indents *n
		caption: p{ Массив с размерами отступов. Аналогично bd{$islands},
			за исключением того, что отступы указываются только по горизонтали. }p 
			p{ Создает набор классов типа: 
				ul{
					li{ bd{.pad-h<NUMBER>} - внутренний отступ слева и справа }li
					li{ bd{.pad-left-<NUMBER>} - внутренний отступ слева }li
					li{ bd{.pad-right-<NUMBER>} - внутренний отступ справа }li
					li{ bd{.marg-h<NUMBER>} - внешний отступ слева и справа }li
					li{ bd{.marg-left-<NUMBER>} - внешний отступ слева }li
					li{ bd{.marg-right-<NUMBER>} - внешний отступ справа }li
				}ul
			}p *n
		*n
*/
$horizontal_indents: 	(5,10,15,20,25,30,35,40,45,50);

/*@property
		name: $min_font_size, $max_font_size *n
		caption: p{ Размеры шрифта. Применяются к блоку. }p*n
			p{ Создает набор классов типа bd{.font-<NUMBER>}, где <NUMBER> -
			это диапазон от bd{$min_font_size} до bd{$max_font_size} }p *n
*/
$min_font_size: 			6;
$max_font_size: 			60;

/*@property
		name: .YourColor *n
		caption: Устанавливает цвет текста с названием YourColor.
		Параметры задаются в bd{ _config.scss }, в объекте 
		bd{ $colors_list } *n
*/
$colors_list: 				(black, #000000) (white, #ffffff);

/*@property
		name: .bg-YourColor *n
		caption: Устанавливает фона блока с названием YourColor.
		Параметры задаются в bd{ _config.scss }, в объекте 
		bd{ $colors_list_bg } *n
*/
$colors_list_bg: 			(black, #000000) (white, #ffffff);

/*@property
		name: $exports *n
		caption: Указывает какие модули необходимо подключить. *n
*/
$exports: (default, indents, fonts);

/*--------------------------------------------------------------
												ПЕРЕМЕННЫЕ
--------------------------------------------------------------*/

/*@property
		name: $font_size *n
		caption: Устанавливает размер шрифта по умолчанию для <body> *n
*/
$font_size: 					14px;