/*
	@module
		title: skin *n
		type: scss *n
		caption:
			p{ Модуль формирует файл скина, собиая во едино все 
			файлы сетки и вспомогательные классы. }p
			p{ Если Вам нужно вручную менять стили при разных 
			разрешениях дисплея, - создайте нужный файл в папке 
			bd{ _media/ } и добавтье свои медиа-запросы 
			в конец этого файла. }p
		*n
*/

/* -----------------------------------------------------
	include function 'calc' and Compass-like mixins
*/

@import "_config.scss";
@import "_func.scss";

/* -----------------------------------------------------
	include default styles, fonts, indents, and so on...
*/

@each $module in $exports {
	@if $module == 'default' {
		@import "_modules/_default.scss";
	}
	@if $module == 'indents' {
		@import "_modules/_indents.scss";
	}
	@if $module == 'fonts' {
		@import "_modules/_fonts.scss";
	}
}

/* -----------------------------------------------------
	<HEADER> styles
*/

@import "_pages/_header.scss";

/* -----------------------------------------------------
	<MAIN> styles
*/

@import "_pages/_typical.scss";
@import "_pages/_main.scss";

/* -----------------------------------------------------
	<FOOTER> styles
*/

@import "_pages/_footer.scss";

/* -----------------------------------------------------
	media queries
	@media (max-width: 768px), (max-device-width: 768px) {
		@import "_media/_768.scss";
	}
*/

/* вставить запросы тут */