@charset "UTF-8";
/*
	@module
		title: grid *n
		type: scss *n
		caption:
			p{ Модуль формирует сетку исходя из конфига bd{_config.scss} }p
		*n
*/
/*
	@module
		title: defaults *n
		type: scss *n
		caption:
			p{ Конфигом системы служит .scss-файл, который содержит 
			в себе настройки для всей системы вцелом. Он находится 
			в папке bd{ scss/_config.scss }. }p
		*n
*/
/*--------------------------------------------------------------
													КОНФИГ
--------------------------------------------------------------*/
/*@property
		name: $gutter *n
		caption: Отступ по бокам внутри ячейки сетки. 
			[$gutter|<content here>|$gutter]. Если параметр равен 0 - 
			контент прижимается вплотную к соронам блока. По умолчанию 
			задано 10пикс. *n
*/
/*@property
		name: $grid_line_height *n
		caption: Высота строки или междустрочный интервал. Применяется 
			для bd{ <body> } *n
*/
/*@property
		name: $grid_sizes *n
		caption: Это массив с размерами шаблона. Если Вам дают макет 
			шириной в 1400 пикселей, то вы указываете 1400. Если в одном 
			шаблоне есть разные ширины сетки, к примеру 1400 и 960 пикселей, 
			то вы указываете их оба через запятую, при чем от меньшего к 
			большему. Допускается произвольное количество размеров 
			(если они Вам нужны). *n
*/
/*@property
		name: $primary_grid *n
		caption: Основная ширина сетки. *n
*/
/*@property
		name: $grid_prefixes *n
		caption: p{ Это массив, содержащий ассоциативные массивы с 
			брейкпоинтами. Брейкпоинты помогают Вам добиться отображения 
			при разных ширинах дисплея (адаптивный дизайн) иной ширины 
			блоков. }p 
			p{ Здесь x1d4 – ширина ячейки по умолчанию (1/4). на мобильном 
			телефоне мы хотим чтобы она отображалась по-другому (1/2), для 
			этого мы используем брейк-поинт x1d2--m, который на мобильном 
			устройстиве отобразит ячейку шире (1/2). }p
			p{ Массив состоит из ассоциативных массивов (480, ‘--m’), в 
			которых передается ширина, при которой брейкпоинт должен 
			сработать и префикс, по которому к брейкпоинту можно обратиться. 
			Вы сами можете создать сколько угодно брейкпоинтов. }p *n
			p{ Создает набор классов типа bd{.x<X>d<D>--<BRAKEPOINT>} }p *n
*/
/*@property
		name: $grid_calc *n
		caption: p{ Это части, на которые можно “дробить” ячейки в 
			сетке. Мощнейшим преимуществом сетки есть дробление на 
			произвольное количество ячеек, и сетка может разбиваться не 
			на 12 колонок (как в Bootstrap), а на произвольное количество ячеек
			(например на 100, если это Вам нужно). }p 
			p{ Эти части являются как ширинами блока, так и ширинами ячеек.
			Это значит, что вам не обязательно указывать постоянную ширину 
			знаменателя (bd{x1d12}, bd{x3d12} и т.д). Это выражение - формирует 
			процент от ширины, соответственно, bd{x1d2} и bd{x6d12} - это 
			одно и то же (50%)) }p
			p{ Создает набор классов типа bd{.x<X>d<D>} }p *n
*/
/*@property
		name: $fixed_widths *n
		caption: p{ Содержит массив с фиксированными размерами (в пикселях). }p 
			p{ Аналогично bd{$grid_calc}. }p*n
			p{ Создает набор классов типа bd{.w-fixed-<WIDTH>} }p *n
*/
/*@property
		name: $islands *n
		caption: p{ Массив с размерами отступов. Эти отступы означают 
			равные отступы со всех сторон блока (от слова island, остров). 
			То есть указывая 10px – Вы указываете отступ в 10 пикселей со 
			всех сторон. Это есть padding и margin. }p 
			p{ Создает набор классов типа bd{.island-<NUMBER>} }p *n
*/
/*@property
		name: $vertical_indents *n
		caption: p{ Массив с размерами отступов. Аналогично bd{$islands},
			за исключением того, что отступы указываются только по вертикали. }p 
			p{ Создает набор классов типа: 
				ul{
					li{ bd{.pad-v<NUMBER>} - внутренний отступ сверху и снизу }li
					li{ bd{.pad-top-<NUMBER>} - внутренний отступ сверху }li
					li{ bd{.pad-bot-<NUMBER>} - внутренний отступ снизу }li
					li{ bd{.marg-v<NUMBER>} - внешний отступ сверху и снизу }li
					li{ bd{.marg-top-<NUMBER>} - внешний отступ сверху }li
					li{ bd{.marg-bot-<NUMBER>} - внешний отступ снизу }li
				}ul
			}p *n
*/
/*@property
		name: $vertical_indents *n
		caption: p{ Массив с размерами отступов. Аналогично bd{$islands},
			за исключением того, что отступы указываются только по горизонтали. }p 
			p{ Создает набор классов типа: 
				ul{
					li{ bd{.pad-h<NUMBER>} - внутренний отступ слева и справа }li
					li{ bd{.pad-left-<NUMBER>} - внутренний отступ слева }li
					li{ bd{.pad-right-<NUMBER>} - внутренний отступ справа }li
					li{ bd{.marg-h<NUMBER>} - внешний отступ слева и справа }li
					li{ bd{.marg-left-<NUMBER>} - внешний отступ слева }li
					li{ bd{.marg-right-<NUMBER>} - внешний отступ справа }li
				}ul
			}p *n
		*n
*/
/*@property
		name: $min_font_size, $max_font_size *n
		caption: p{ Размеры шрифта. Применяются к блоку. }p*n
			p{ Создает набор классов типа bd{.font-<NUMBER>}, где <NUMBER> -
			это диапазон от bd{$min_font_size} до bd{$max_font_size} }p *n
*/
/*@property
		name: .YourColor *n
		caption: Устанавливает цвет текста с названием YourColor.
		Параметры задаются в bd{ _config.scss }, в объекте 
		bd{ $colors_list } *n
*/
/*@property
		name: .bg-YourColor *n
		caption: Устанавливает фона блока с названием YourColor.
		Параметры задаются в bd{ _config.scss }, в объекте 
		bd{ $colors_list_bg } *n
*/
/*--------------------------------------------------------------
												ПЕРЕМЕННЫЕ
--------------------------------------------------------------*/
/*@property
		name: $font_size *n
		caption: Устанавливает размер шрифта по умолчанию для <body> *n
*/
/*@property
		name: $font_family *n
		caption: Устанавливает шрифт по умолчанию для <body> *n
*/
/*
	Приватный модуль для генерации брейкпоинтов.
*/
/*@property
		name: g *n
		caption: p{ Класс bd{ .g } означает обертку. bd{ .g.w960 } - обертку 
			шириной в w960 пикселей, если скрин пользователя шире данного 
			значения, – блок позиционируется по центру, если меньше – 
			растягивается на всю ширину скрина. Ширина задается один раз и 
			берется из конфига (параметр bd{ $grid_sizes }). Каждое из этих 
			значений - это ширина обертки, которую Вы можете использовать. 
			Это и обертка шириной в 1400 пикселей (bd{ w1400 }), и в 960 (bd{ w960 }) 
		}p
		p{ Обертка является оболочкой, внутри которой должны размещаться ячейки. }p
		*n
*/
.g,
.g--rev {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style-type: none; }

.g {
  direction: ltr; }

/*@property
		name: g--rev *n
		caption: Обертка с обратным расположением ячеек 
		(только для inline-block-элементов). *n
*/
.g--rev {
  direction: rtl; }

/*@property
		name: c, cc, cd *n
		caption: p{ Для того, чтобы раздробить блок на условные ячейки, 
			внутрь нужно поместить блок с классом bd{.c} или bd{.cc}. Класс 
			bd{.c} обозначает инлайн-блок, с внутренним отступом по бокам в 
			заданную величину пикселей (параметр bd{ $gutter }). 
		}p
		p{ [$gutter|<content here>|$gutter] }p
		p{ Дробить сетку на ячейки крайне просто, если Вы знаете азы 
			математики и умеете слогать. Для начала вы должны определиться, 
			на сколько ячеек Вы хотите разбить сетку. За это отвечает 
			параметр bd{ $grid_calc } .Например, Вы выбрали 12-колоночную 
			сетку. Это означает, что любая ячейка будет дробиться исходя 
			из соотношения ширины ячейки к общей ширине всех ячеек: класс 
			bd{ x2d12 } вставит ячейку шириной в 2/12 общей ширины обертки.
		}p
		p{ Плюшка: Вы так же можете использовать не только дроби со 
			знаменателем 12 (если Вы его выбрали), но и любые дроби, из 
			параметра bd{ $grid_calc }. Это может быть и bd{ .x1d2 }, и 
			bd{ .x2d6 }, и bd{ .x1d8 }, если эти дроби прописаны в 
			bd{ $grid_calc }.
		}p
		p{ Так же, существует возможность задать фиксированную ширину, 
			используя классы типа bd{ .w-fixed-50 }, bd{ .w-fixed-150 }, 
			которые обозначают фиксированную ширину блока в пикселях. 
			Значения берутся из параметра bd{ $fixed_widths }.
		}p
		p{ Обертка является оболочкой, внутри которой должны 
			размещаться ячейки. }p
		*n
*/
.c,
.cc,
.cd {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px; }

/*@property
		name: cc *n
		caption: Ячейка без отступов - [<content here>]*n
*/
.cc {
  padding: 0; }

/*@property
		name: cc *n
		caption: Ячейка с отступами в два раза больше обычного: 
		p{ [$gutter*2|<content here>|$gutter*2] }p *n
*/
.cd {
  padding: 0 20px; }

/* внутренние фцнкции - поддержка javascript */
.lt-ie9 .c,
.lt-ie9 .cc,
.no-js .c,
.no-js .cc,
.no-js .c-c {
  display: block !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important; }

/* внутренние фцнкции - переключение в режим flexbox \ inline-block */
.flexbox article,
.flexbox aside,
.flexbox details,
.flexbox figcaption,
.flexbox figure,
.flexbox footer,
.flexbox header,
.flexbox hgroup,
.flexbox main,
.flexbox menu,
.flexbox nav,
.flexbox section,
.flexbox summary,
.flexbox div,
.flexbox ul,
.flexbox h1, .flexbox h2, .flexbox h3, .flexbox h4, .flexbox h5, .flexbox h6 {
  /*align-self: flex-start;*/
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
  /*@include align-items(center);*/ }

.flexbox .g, .flexbox .g-rev {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: top;
  -webkit-align-items: top;
  -moz-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flexbox .c, .flexbox .cc, .flexbox .c-c {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /*align-items: center;*/
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*@property
		name: w<WIDTH> *n
		caption: Ширина обертки. Формирует список классов типа 
		w<WIDTH> исходя из значений параметра bd{ $grid_sizes } *n
*/
.g.w400,
.g--rev.w400 {
  max-width: 400px; }

.g.w720,
.g--rev.w720 {
  max-width: 720px; }

.g.w960,
.g--rev.w960 {
  max-width: 960px; }

.g.w1140,
.g--rev.w1140 {
  max-width: 1140px; }

.lt-ie9 .g.w400,
.lt-ie9 .g--rev.w400 {
  max-width: 400px; }

.no-js .g.w400,
.no-js .g--rev.w400 {
  max-width: 400px; }

.lt-ie9 .g.w720,
.lt-ie9 .g--rev.w720 {
  max-width: 720px; }

.no-js .g.w720,
.no-js .g--rev.w720 {
  max-width: 720px; }

.lt-ie9 .g.w960,
.lt-ie9 .g--rev.w960 {
  max-width: 960px; }

.no-js .g.w960,
.no-js .g--rev.w960 {
  max-width: 960px; }

.lt-ie9 .g.w1140,
.lt-ie9 .g--rev.w1140 {
  max-width: 1140px; }

.no-js .g.w1140,
.no-js .g--rev.w1140 {
  max-width: 1140px; }

/* -----------------------------------------------------
	grid calc
*/
.x1d1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -moz-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  width: 100%; }

.x0d1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0%;
  -moz-box-flex: 1;
  -ms-flex: 1 0%;
  flex: 1 0%;
  width: 0%; }

.x1d2, .x2d4, .x3d6, .x4d8, .x5d10, .x6d12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 50%;
  -moz-box-flex: 1;
  -ms-flex: 1 50%;
  flex: 1 50%;
  width: 50%; }

.x1d3, .x2d6, .x3d9, .x4d12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 33.33333%;
  -moz-box-flex: 1;
  -ms-flex: 1 33.33333%;
  flex: 1 33.33333%;
  width: 33.33333%; }

.x2d3, .x4d6, .x6d9, .x8d12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 66.66667%;
  -moz-box-flex: 1;
  -ms-flex: 1 66.66667%;
  flex: 1 66.66667%;
  width: 66.66667%; }

.x1d4, .x2d8, .x3d12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 25%;
  -moz-box-flex: 1;
  -ms-flex: 1 25%;
  flex: 1 25%;
  width: 25%; }

.x3d4, .x6d8, .x9d12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 75%;
  -moz-box-flex: 1;
  -ms-flex: 1 75%;
  flex: 1 75%;
  width: 75%; }

.x1d5, .x2d10 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 20%;
  -moz-box-flex: 1;
  -ms-flex: 1 20%;
  flex: 1 20%;
  width: 20%; }

.x2d5, .x4d10 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 40%;
  -moz-box-flex: 1;
  -ms-flex: 1 40%;
  flex: 1 40%;
  width: 40%; }

.x3d5, .x6d10 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 60%;
  -moz-box-flex: 1;
  -ms-flex: 1 60%;
  flex: 1 60%;
  width: 60%; }

.x4d5, .x8d10 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 80%;
  -moz-box-flex: 1;
  -ms-flex: 1 80%;
  flex: 1 80%;
  width: 80%; }

.x1d6, .x2d12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 16.66667%;
  -moz-box-flex: 1;
  -ms-flex: 1 16.66667%;
  flex: 1 16.66667%;
  width: 16.66667%; }

.x5d6, .x10d12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 83.33333%;
  -moz-box-flex: 1;
  -ms-flex: 1 83.33333%;
  flex: 1 83.33333%;
  width: 83.33333%; }

.x1d7 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 14.28571%;
  -moz-box-flex: 1;
  -ms-flex: 1 14.28571%;
  flex: 1 14.28571%;
  width: 14.28571%; }

.x2d7 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 28.57143%;
  -moz-box-flex: 1;
  -ms-flex: 1 28.57143%;
  flex: 1 28.57143%;
  width: 28.57143%; }

.x3d7 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 42.85714%;
  -moz-box-flex: 1;
  -ms-flex: 1 42.85714%;
  flex: 1 42.85714%;
  width: 42.85714%; }

.x4d7 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 57.14286%;
  -moz-box-flex: 1;
  -ms-flex: 1 57.14286%;
  flex: 1 57.14286%;
  width: 57.14286%; }

.x5d7 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 71.42857%;
  -moz-box-flex: 1;
  -ms-flex: 1 71.42857%;
  flex: 1 71.42857%;
  width: 71.42857%; }

.x6d7 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 85.71429%;
  -moz-box-flex: 1;
  -ms-flex: 1 85.71429%;
  flex: 1 85.71429%;
  width: 85.71429%; }

.x1d8 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 12.5%;
  -moz-box-flex: 1;
  -ms-flex: 1 12.5%;
  flex: 1 12.5%;
  width: 12.5%; }

.x3d8 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 37.5%;
  -moz-box-flex: 1;
  -ms-flex: 1 37.5%;
  flex: 1 37.5%;
  width: 37.5%; }

.x5d8 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 62.5%;
  -moz-box-flex: 1;
  -ms-flex: 1 62.5%;
  flex: 1 62.5%;
  width: 62.5%; }

.x7d8 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 87.5%;
  -moz-box-flex: 1;
  -ms-flex: 1 87.5%;
  flex: 1 87.5%;
  width: 87.5%; }

.x1d9 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 11.11111%;
  -moz-box-flex: 1;
  -ms-flex: 1 11.11111%;
  flex: 1 11.11111%;
  width: 11.11111%; }

.x2d9 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 22.22222%;
  -moz-box-flex: 1;
  -ms-flex: 1 22.22222%;
  flex: 1 22.22222%;
  width: 22.22222%; }

.x4d9 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 44.44444%;
  -moz-box-flex: 1;
  -ms-flex: 1 44.44444%;
  flex: 1 44.44444%;
  width: 44.44444%; }

.x5d9 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 55.55556%;
  -moz-box-flex: 1;
  -ms-flex: 1 55.55556%;
  flex: 1 55.55556%;
  width: 55.55556%; }

.x7d9 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 77.77778%;
  -moz-box-flex: 1;
  -ms-flex: 1 77.77778%;
  flex: 1 77.77778%;
  width: 77.77778%; }

.x8d9 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 88.88889%;
  -moz-box-flex: 1;
  -ms-flex: 1 88.88889%;
  flex: 1 88.88889%;
  width: 88.88889%; }

.x1d10 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 10%;
  -moz-box-flex: 1;
  -ms-flex: 1 10%;
  flex: 1 10%;
  width: 10%; }

.x3d10 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 30%;
  -moz-box-flex: 1;
  -ms-flex: 1 30%;
  flex: 1 30%;
  width: 30%; }

.x7d10 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 70%;
  -moz-box-flex: 1;
  -ms-flex: 1 70%;
  flex: 1 70%;
  width: 70%; }

.x9d10 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 90%;
  -moz-box-flex: 1;
  -ms-flex: 1 90%;
  flex: 1 90%;
  width: 90%; }

.x1d11 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 9.09091%;
  -moz-box-flex: 1;
  -ms-flex: 1 9.09091%;
  flex: 1 9.09091%;
  width: 9.09091%; }

.x2d11 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 18.18182%;
  -moz-box-flex: 1;
  -ms-flex: 1 18.18182%;
  flex: 1 18.18182%;
  width: 18.18182%; }

.x3d11 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 27.27273%;
  -moz-box-flex: 1;
  -ms-flex: 1 27.27273%;
  flex: 1 27.27273%;
  width: 27.27273%; }

.x4d11 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 36.36364%;
  -moz-box-flex: 1;
  -ms-flex: 1 36.36364%;
  flex: 1 36.36364%;
  width: 36.36364%; }

.x5d11 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 45.45455%;
  -moz-box-flex: 1;
  -ms-flex: 1 45.45455%;
  flex: 1 45.45455%;
  width: 45.45455%; }

.x6d11 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 54.54545%;
  -moz-box-flex: 1;
  -ms-flex: 1 54.54545%;
  flex: 1 54.54545%;
  width: 54.54545%; }

.x7d11 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 63.63636%;
  -moz-box-flex: 1;
  -ms-flex: 1 63.63636%;
  flex: 1 63.63636%;
  width: 63.63636%; }

.x8d11 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 72.72727%;
  -moz-box-flex: 1;
  -ms-flex: 1 72.72727%;
  flex: 1 72.72727%;
  width: 72.72727%; }

.x9d11 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 81.81818%;
  -moz-box-flex: 1;
  -ms-flex: 1 81.81818%;
  flex: 1 81.81818%;
  width: 81.81818%; }

.x10d11 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 90.90909%;
  -moz-box-flex: 1;
  -ms-flex: 1 90.90909%;
  flex: 1 90.90909%;
  width: 90.90909%; }

.x1d12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 8.33333%;
  -moz-box-flex: 1;
  -ms-flex: 1 8.33333%;
  flex: 1 8.33333%;
  width: 8.33333%; }

.x5d12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 41.66667%;
  -moz-box-flex: 1;
  -ms-flex: 1 41.66667%;
  flex: 1 41.66667%;
  width: 41.66667%; }

.x7d12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 58.33333%;
  -moz-box-flex: 1;
  -ms-flex: 1 58.33333%;
  flex: 1 58.33333%;
  width: 58.33333%; }

.x11d12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 91.66667%;
  -moz-box-flex: 1;
  -ms-flex: 1 91.66667%;
  flex: 1 91.66667%;
  width: 91.66667%; }

/* -----------------------------------------------------
	fixed widths
*/
.w-fixed-50 {
  width: 50px; }

.w-fixed-100 {
  width: 100px; }

.w-fixed-150 {
  width: 150px; }

.w-fixed-200 {
  width: 200px; }

.w-fixed-250 {
  width: 250px; }

.w-fixed-300 {
  width: 300px; }

/* -----------------------------------------------------
	MEDIA queries
*/
@media (max-width: 768px) {
  .x1--t {
    width: 100%; }
  .x1d1--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -moz-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    width: 100%; }
  .x0d1--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0%;
    -moz-box-flex: 1;
    -ms-flex: 1 0%;
    flex: 1 0%;
    width: 0%; }
  .x1d2--t, .x2d4--t, .x3d6--t, .x4d8--t, .x5d10--t, .x6d12--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
    -moz-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    width: 50%; }
  .x1d3--t, .x2d6--t, .x3d9--t, .x4d12--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 33.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 33.33333%;
    flex: 1 33.33333%;
    width: 33.33333%; }
  .x2d3--t, .x4d6--t, .x6d9--t, .x8d12--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 66.66667%;
    -moz-box-flex: 1;
    -ms-flex: 1 66.66667%;
    flex: 1 66.66667%;
    width: 66.66667%; }
  .x1d4--t, .x2d8--t, .x3d12--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 25%;
    -moz-box-flex: 1;
    -ms-flex: 1 25%;
    flex: 1 25%;
    width: 25%; }
  .x3d4--t, .x6d8--t, .x9d12--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 75%;
    -moz-box-flex: 1;
    -ms-flex: 1 75%;
    flex: 1 75%;
    width: 75%; }
  .x1d5--t, .x2d10--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 20%;
    -moz-box-flex: 1;
    -ms-flex: 1 20%;
    flex: 1 20%;
    width: 20%; }
  .x2d5--t, .x4d10--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 40%;
    -moz-box-flex: 1;
    -ms-flex: 1 40%;
    flex: 1 40%;
    width: 40%; }
  .x3d5--t, .x6d10--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 60%;
    -moz-box-flex: 1;
    -ms-flex: 1 60%;
    flex: 1 60%;
    width: 60%; }
  .x4d5--t, .x8d10--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 80%;
    -moz-box-flex: 1;
    -ms-flex: 1 80%;
    flex: 1 80%;
    width: 80%; }
  .x1d6--t, .x2d12--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 16.66667%;
    -moz-box-flex: 1;
    -ms-flex: 1 16.66667%;
    flex: 1 16.66667%;
    width: 16.66667%; }
  .x5d6--t, .x10d12--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 83.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 83.33333%;
    flex: 1 83.33333%;
    width: 83.33333%; }
  .x1d7--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 14.28571%;
    -moz-box-flex: 1;
    -ms-flex: 1 14.28571%;
    flex: 1 14.28571%;
    width: 14.28571%; }
  .x2d7--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 28.57143%;
    -moz-box-flex: 1;
    -ms-flex: 1 28.57143%;
    flex: 1 28.57143%;
    width: 28.57143%; }
  .x3d7--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 42.85714%;
    -moz-box-flex: 1;
    -ms-flex: 1 42.85714%;
    flex: 1 42.85714%;
    width: 42.85714%; }
  .x4d7--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 57.14286%;
    -moz-box-flex: 1;
    -ms-flex: 1 57.14286%;
    flex: 1 57.14286%;
    width: 57.14286%; }
  .x5d7--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 71.42857%;
    -moz-box-flex: 1;
    -ms-flex: 1 71.42857%;
    flex: 1 71.42857%;
    width: 71.42857%; }
  .x6d7--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 85.71429%;
    -moz-box-flex: 1;
    -ms-flex: 1 85.71429%;
    flex: 1 85.71429%;
    width: 85.71429%; }
  .x1d8--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 12.5%;
    -moz-box-flex: 1;
    -ms-flex: 1 12.5%;
    flex: 1 12.5%;
    width: 12.5%; }
  .x3d8--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 37.5%;
    -moz-box-flex: 1;
    -ms-flex: 1 37.5%;
    flex: 1 37.5%;
    width: 37.5%; }
  .x5d8--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 62.5%;
    -moz-box-flex: 1;
    -ms-flex: 1 62.5%;
    flex: 1 62.5%;
    width: 62.5%; }
  .x7d8--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 87.5%;
    -moz-box-flex: 1;
    -ms-flex: 1 87.5%;
    flex: 1 87.5%;
    width: 87.5%; }
  .x1d9--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 11.11111%;
    -moz-box-flex: 1;
    -ms-flex: 1 11.11111%;
    flex: 1 11.11111%;
    width: 11.11111%; }
  .x2d9--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 22.22222%;
    -moz-box-flex: 1;
    -ms-flex: 1 22.22222%;
    flex: 1 22.22222%;
    width: 22.22222%; }
  .x4d9--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 44.44444%;
    -moz-box-flex: 1;
    -ms-flex: 1 44.44444%;
    flex: 1 44.44444%;
    width: 44.44444%; }
  .x5d9--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 55.55556%;
    -moz-box-flex: 1;
    -ms-flex: 1 55.55556%;
    flex: 1 55.55556%;
    width: 55.55556%; }
  .x7d9--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 77.77778%;
    -moz-box-flex: 1;
    -ms-flex: 1 77.77778%;
    flex: 1 77.77778%;
    width: 77.77778%; }
  .x8d9--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 88.88889%;
    -moz-box-flex: 1;
    -ms-flex: 1 88.88889%;
    flex: 1 88.88889%;
    width: 88.88889%; }
  .x1d10--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 10%;
    -moz-box-flex: 1;
    -ms-flex: 1 10%;
    flex: 1 10%;
    width: 10%; }
  .x3d10--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 30%;
    -moz-box-flex: 1;
    -ms-flex: 1 30%;
    flex: 1 30%;
    width: 30%; }
  .x7d10--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 70%;
    -moz-box-flex: 1;
    -ms-flex: 1 70%;
    flex: 1 70%;
    width: 70%; }
  .x9d10--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 90%;
    -moz-box-flex: 1;
    -ms-flex: 1 90%;
    flex: 1 90%;
    width: 90%; }
  .x1d11--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 9.09091%;
    -moz-box-flex: 1;
    -ms-flex: 1 9.09091%;
    flex: 1 9.09091%;
    width: 9.09091%; }
  .x2d11--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 18.18182%;
    -moz-box-flex: 1;
    -ms-flex: 1 18.18182%;
    flex: 1 18.18182%;
    width: 18.18182%; }
  .x3d11--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 27.27273%;
    -moz-box-flex: 1;
    -ms-flex: 1 27.27273%;
    flex: 1 27.27273%;
    width: 27.27273%; }
  .x4d11--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 36.36364%;
    -moz-box-flex: 1;
    -ms-flex: 1 36.36364%;
    flex: 1 36.36364%;
    width: 36.36364%; }
  .x5d11--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 45.45455%;
    -moz-box-flex: 1;
    -ms-flex: 1 45.45455%;
    flex: 1 45.45455%;
    width: 45.45455%; }
  .x6d11--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 54.54545%;
    -moz-box-flex: 1;
    -ms-flex: 1 54.54545%;
    flex: 1 54.54545%;
    width: 54.54545%; }
  .x7d11--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 63.63636%;
    -moz-box-flex: 1;
    -ms-flex: 1 63.63636%;
    flex: 1 63.63636%;
    width: 63.63636%; }
  .x8d11--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 72.72727%;
    -moz-box-flex: 1;
    -ms-flex: 1 72.72727%;
    flex: 1 72.72727%;
    width: 72.72727%; }
  .x9d11--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 81.81818%;
    -moz-box-flex: 1;
    -ms-flex: 1 81.81818%;
    flex: 1 81.81818%;
    width: 81.81818%; }
  .x10d11--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 90.90909%;
    -moz-box-flex: 1;
    -ms-flex: 1 90.90909%;
    flex: 1 90.90909%;
    width: 90.90909%; }
  .x1d12--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 8.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 8.33333%;
    flex: 1 8.33333%;
    width: 8.33333%; }
  .x5d12--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 41.66667%;
    -moz-box-flex: 1;
    -ms-flex: 1 41.66667%;
    flex: 1 41.66667%;
    width: 41.66667%; }
  .x7d12--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 58.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 58.33333%;
    flex: 1 58.33333%;
    width: 58.33333%; }
  .x11d12--t {
    -webkit-box-flex: 1;
    -webkit-flex: 1 91.66667%;
    -moz-box-flex: 1;
    -ms-flex: 1 91.66667%;
    flex: 1 91.66667%;
    width: 91.66667%; } }

@media (max-width: 640px) {
  .x1--sm {
    width: 100%; }
  .x1d1--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -moz-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    width: 100%; }
  .x0d1--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0%;
    -moz-box-flex: 1;
    -ms-flex: 1 0%;
    flex: 1 0%;
    width: 0%; }
  .x1d2--sm, .x2d4--sm, .x3d6--sm, .x4d8--sm, .x5d10--sm, .x6d12--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
    -moz-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    width: 50%; }
  .x1d3--sm, .x2d6--sm, .x3d9--sm, .x4d12--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 33.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 33.33333%;
    flex: 1 33.33333%;
    width: 33.33333%; }
  .x2d3--sm, .x4d6--sm, .x6d9--sm, .x8d12--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 66.66667%;
    -moz-box-flex: 1;
    -ms-flex: 1 66.66667%;
    flex: 1 66.66667%;
    width: 66.66667%; }
  .x1d4--sm, .x2d8--sm, .x3d12--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 25%;
    -moz-box-flex: 1;
    -ms-flex: 1 25%;
    flex: 1 25%;
    width: 25%; }
  .x3d4--sm, .x6d8--sm, .x9d12--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 75%;
    -moz-box-flex: 1;
    -ms-flex: 1 75%;
    flex: 1 75%;
    width: 75%; }
  .x1d5--sm, .x2d10--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 20%;
    -moz-box-flex: 1;
    -ms-flex: 1 20%;
    flex: 1 20%;
    width: 20%; }
  .x2d5--sm, .x4d10--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 40%;
    -moz-box-flex: 1;
    -ms-flex: 1 40%;
    flex: 1 40%;
    width: 40%; }
  .x3d5--sm, .x6d10--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 60%;
    -moz-box-flex: 1;
    -ms-flex: 1 60%;
    flex: 1 60%;
    width: 60%; }
  .x4d5--sm, .x8d10--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 80%;
    -moz-box-flex: 1;
    -ms-flex: 1 80%;
    flex: 1 80%;
    width: 80%; }
  .x1d6--sm, .x2d12--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 16.66667%;
    -moz-box-flex: 1;
    -ms-flex: 1 16.66667%;
    flex: 1 16.66667%;
    width: 16.66667%; }
  .x5d6--sm, .x10d12--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 83.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 83.33333%;
    flex: 1 83.33333%;
    width: 83.33333%; }
  .x1d7--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 14.28571%;
    -moz-box-flex: 1;
    -ms-flex: 1 14.28571%;
    flex: 1 14.28571%;
    width: 14.28571%; }
  .x2d7--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 28.57143%;
    -moz-box-flex: 1;
    -ms-flex: 1 28.57143%;
    flex: 1 28.57143%;
    width: 28.57143%; }
  .x3d7--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 42.85714%;
    -moz-box-flex: 1;
    -ms-flex: 1 42.85714%;
    flex: 1 42.85714%;
    width: 42.85714%; }
  .x4d7--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 57.14286%;
    -moz-box-flex: 1;
    -ms-flex: 1 57.14286%;
    flex: 1 57.14286%;
    width: 57.14286%; }
  .x5d7--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 71.42857%;
    -moz-box-flex: 1;
    -ms-flex: 1 71.42857%;
    flex: 1 71.42857%;
    width: 71.42857%; }
  .x6d7--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 85.71429%;
    -moz-box-flex: 1;
    -ms-flex: 1 85.71429%;
    flex: 1 85.71429%;
    width: 85.71429%; }
  .x1d8--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 12.5%;
    -moz-box-flex: 1;
    -ms-flex: 1 12.5%;
    flex: 1 12.5%;
    width: 12.5%; }
  .x3d8--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 37.5%;
    -moz-box-flex: 1;
    -ms-flex: 1 37.5%;
    flex: 1 37.5%;
    width: 37.5%; }
  .x5d8--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 62.5%;
    -moz-box-flex: 1;
    -ms-flex: 1 62.5%;
    flex: 1 62.5%;
    width: 62.5%; }
  .x7d8--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 87.5%;
    -moz-box-flex: 1;
    -ms-flex: 1 87.5%;
    flex: 1 87.5%;
    width: 87.5%; }
  .x1d9--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 11.11111%;
    -moz-box-flex: 1;
    -ms-flex: 1 11.11111%;
    flex: 1 11.11111%;
    width: 11.11111%; }
  .x2d9--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 22.22222%;
    -moz-box-flex: 1;
    -ms-flex: 1 22.22222%;
    flex: 1 22.22222%;
    width: 22.22222%; }
  .x4d9--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 44.44444%;
    -moz-box-flex: 1;
    -ms-flex: 1 44.44444%;
    flex: 1 44.44444%;
    width: 44.44444%; }
  .x5d9--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 55.55556%;
    -moz-box-flex: 1;
    -ms-flex: 1 55.55556%;
    flex: 1 55.55556%;
    width: 55.55556%; }
  .x7d9--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 77.77778%;
    -moz-box-flex: 1;
    -ms-flex: 1 77.77778%;
    flex: 1 77.77778%;
    width: 77.77778%; }
  .x8d9--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 88.88889%;
    -moz-box-flex: 1;
    -ms-flex: 1 88.88889%;
    flex: 1 88.88889%;
    width: 88.88889%; }
  .x1d10--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 10%;
    -moz-box-flex: 1;
    -ms-flex: 1 10%;
    flex: 1 10%;
    width: 10%; }
  .x3d10--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 30%;
    -moz-box-flex: 1;
    -ms-flex: 1 30%;
    flex: 1 30%;
    width: 30%; }
  .x7d10--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 70%;
    -moz-box-flex: 1;
    -ms-flex: 1 70%;
    flex: 1 70%;
    width: 70%; }
  .x9d10--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 90%;
    -moz-box-flex: 1;
    -ms-flex: 1 90%;
    flex: 1 90%;
    width: 90%; }
  .x1d11--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 9.09091%;
    -moz-box-flex: 1;
    -ms-flex: 1 9.09091%;
    flex: 1 9.09091%;
    width: 9.09091%; }
  .x2d11--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 18.18182%;
    -moz-box-flex: 1;
    -ms-flex: 1 18.18182%;
    flex: 1 18.18182%;
    width: 18.18182%; }
  .x3d11--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 27.27273%;
    -moz-box-flex: 1;
    -ms-flex: 1 27.27273%;
    flex: 1 27.27273%;
    width: 27.27273%; }
  .x4d11--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 36.36364%;
    -moz-box-flex: 1;
    -ms-flex: 1 36.36364%;
    flex: 1 36.36364%;
    width: 36.36364%; }
  .x5d11--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 45.45455%;
    -moz-box-flex: 1;
    -ms-flex: 1 45.45455%;
    flex: 1 45.45455%;
    width: 45.45455%; }
  .x6d11--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 54.54545%;
    -moz-box-flex: 1;
    -ms-flex: 1 54.54545%;
    flex: 1 54.54545%;
    width: 54.54545%; }
  .x7d11--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 63.63636%;
    -moz-box-flex: 1;
    -ms-flex: 1 63.63636%;
    flex: 1 63.63636%;
    width: 63.63636%; }
  .x8d11--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 72.72727%;
    -moz-box-flex: 1;
    -ms-flex: 1 72.72727%;
    flex: 1 72.72727%;
    width: 72.72727%; }
  .x9d11--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 81.81818%;
    -moz-box-flex: 1;
    -ms-flex: 1 81.81818%;
    flex: 1 81.81818%;
    width: 81.81818%; }
  .x10d11--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 90.90909%;
    -moz-box-flex: 1;
    -ms-flex: 1 90.90909%;
    flex: 1 90.90909%;
    width: 90.90909%; }
  .x1d12--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 8.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 8.33333%;
    flex: 1 8.33333%;
    width: 8.33333%; }
  .x5d12--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 41.66667%;
    -moz-box-flex: 1;
    -ms-flex: 1 41.66667%;
    flex: 1 41.66667%;
    width: 41.66667%; }
  .x7d12--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 58.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 58.33333%;
    flex: 1 58.33333%;
    width: 58.33333%; }
  .x11d12--sm {
    -webkit-box-flex: 1;
    -webkit-flex: 1 91.66667%;
    -moz-box-flex: 1;
    -ms-flex: 1 91.66667%;
    flex: 1 91.66667%;
    width: 91.66667%; } }

@media (max-width: 480px) {
  .x1--m {
    width: 100%; }
  .x1d1--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -moz-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    width: 100%; }
  .x0d1--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0%;
    -moz-box-flex: 1;
    -ms-flex: 1 0%;
    flex: 1 0%;
    width: 0%; }
  .x1d2--m, .x2d4--m, .x3d6--m, .x4d8--m, .x5d10--m, .x6d12--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
    -moz-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    width: 50%; }
  .x1d3--m, .x2d6--m, .x3d9--m, .x4d12--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 33.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 33.33333%;
    flex: 1 33.33333%;
    width: 33.33333%; }
  .x2d3--m, .x4d6--m, .x6d9--m, .x8d12--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 66.66667%;
    -moz-box-flex: 1;
    -ms-flex: 1 66.66667%;
    flex: 1 66.66667%;
    width: 66.66667%; }
  .x1d4--m, .x2d8--m, .x3d12--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 25%;
    -moz-box-flex: 1;
    -ms-flex: 1 25%;
    flex: 1 25%;
    width: 25%; }
  .x3d4--m, .x6d8--m, .x9d12--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 75%;
    -moz-box-flex: 1;
    -ms-flex: 1 75%;
    flex: 1 75%;
    width: 75%; }
  .x1d5--m, .x2d10--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 20%;
    -moz-box-flex: 1;
    -ms-flex: 1 20%;
    flex: 1 20%;
    width: 20%; }
  .x2d5--m, .x4d10--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 40%;
    -moz-box-flex: 1;
    -ms-flex: 1 40%;
    flex: 1 40%;
    width: 40%; }
  .x3d5--m, .x6d10--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 60%;
    -moz-box-flex: 1;
    -ms-flex: 1 60%;
    flex: 1 60%;
    width: 60%; }
  .x4d5--m, .x8d10--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 80%;
    -moz-box-flex: 1;
    -ms-flex: 1 80%;
    flex: 1 80%;
    width: 80%; }
  .x1d6--m, .x2d12--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 16.66667%;
    -moz-box-flex: 1;
    -ms-flex: 1 16.66667%;
    flex: 1 16.66667%;
    width: 16.66667%; }
  .x5d6--m, .x10d12--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 83.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 83.33333%;
    flex: 1 83.33333%;
    width: 83.33333%; }
  .x1d7--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 14.28571%;
    -moz-box-flex: 1;
    -ms-flex: 1 14.28571%;
    flex: 1 14.28571%;
    width: 14.28571%; }
  .x2d7--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 28.57143%;
    -moz-box-flex: 1;
    -ms-flex: 1 28.57143%;
    flex: 1 28.57143%;
    width: 28.57143%; }
  .x3d7--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 42.85714%;
    -moz-box-flex: 1;
    -ms-flex: 1 42.85714%;
    flex: 1 42.85714%;
    width: 42.85714%; }
  .x4d7--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 57.14286%;
    -moz-box-flex: 1;
    -ms-flex: 1 57.14286%;
    flex: 1 57.14286%;
    width: 57.14286%; }
  .x5d7--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 71.42857%;
    -moz-box-flex: 1;
    -ms-flex: 1 71.42857%;
    flex: 1 71.42857%;
    width: 71.42857%; }
  .x6d7--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 85.71429%;
    -moz-box-flex: 1;
    -ms-flex: 1 85.71429%;
    flex: 1 85.71429%;
    width: 85.71429%; }
  .x1d8--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 12.5%;
    -moz-box-flex: 1;
    -ms-flex: 1 12.5%;
    flex: 1 12.5%;
    width: 12.5%; }
  .x3d8--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 37.5%;
    -moz-box-flex: 1;
    -ms-flex: 1 37.5%;
    flex: 1 37.5%;
    width: 37.5%; }
  .x5d8--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 62.5%;
    -moz-box-flex: 1;
    -ms-flex: 1 62.5%;
    flex: 1 62.5%;
    width: 62.5%; }
  .x7d8--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 87.5%;
    -moz-box-flex: 1;
    -ms-flex: 1 87.5%;
    flex: 1 87.5%;
    width: 87.5%; }
  .x1d9--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 11.11111%;
    -moz-box-flex: 1;
    -ms-flex: 1 11.11111%;
    flex: 1 11.11111%;
    width: 11.11111%; }
  .x2d9--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 22.22222%;
    -moz-box-flex: 1;
    -ms-flex: 1 22.22222%;
    flex: 1 22.22222%;
    width: 22.22222%; }
  .x4d9--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 44.44444%;
    -moz-box-flex: 1;
    -ms-flex: 1 44.44444%;
    flex: 1 44.44444%;
    width: 44.44444%; }
  .x5d9--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 55.55556%;
    -moz-box-flex: 1;
    -ms-flex: 1 55.55556%;
    flex: 1 55.55556%;
    width: 55.55556%; }
  .x7d9--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 77.77778%;
    -moz-box-flex: 1;
    -ms-flex: 1 77.77778%;
    flex: 1 77.77778%;
    width: 77.77778%; }
  .x8d9--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 88.88889%;
    -moz-box-flex: 1;
    -ms-flex: 1 88.88889%;
    flex: 1 88.88889%;
    width: 88.88889%; }
  .x1d10--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 10%;
    -moz-box-flex: 1;
    -ms-flex: 1 10%;
    flex: 1 10%;
    width: 10%; }
  .x3d10--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 30%;
    -moz-box-flex: 1;
    -ms-flex: 1 30%;
    flex: 1 30%;
    width: 30%; }
  .x7d10--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 70%;
    -moz-box-flex: 1;
    -ms-flex: 1 70%;
    flex: 1 70%;
    width: 70%; }
  .x9d10--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 90%;
    -moz-box-flex: 1;
    -ms-flex: 1 90%;
    flex: 1 90%;
    width: 90%; }
  .x1d11--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 9.09091%;
    -moz-box-flex: 1;
    -ms-flex: 1 9.09091%;
    flex: 1 9.09091%;
    width: 9.09091%; }
  .x2d11--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 18.18182%;
    -moz-box-flex: 1;
    -ms-flex: 1 18.18182%;
    flex: 1 18.18182%;
    width: 18.18182%; }
  .x3d11--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 27.27273%;
    -moz-box-flex: 1;
    -ms-flex: 1 27.27273%;
    flex: 1 27.27273%;
    width: 27.27273%; }
  .x4d11--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 36.36364%;
    -moz-box-flex: 1;
    -ms-flex: 1 36.36364%;
    flex: 1 36.36364%;
    width: 36.36364%; }
  .x5d11--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 45.45455%;
    -moz-box-flex: 1;
    -ms-flex: 1 45.45455%;
    flex: 1 45.45455%;
    width: 45.45455%; }
  .x6d11--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 54.54545%;
    -moz-box-flex: 1;
    -ms-flex: 1 54.54545%;
    flex: 1 54.54545%;
    width: 54.54545%; }
  .x7d11--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 63.63636%;
    -moz-box-flex: 1;
    -ms-flex: 1 63.63636%;
    flex: 1 63.63636%;
    width: 63.63636%; }
  .x8d11--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 72.72727%;
    -moz-box-flex: 1;
    -ms-flex: 1 72.72727%;
    flex: 1 72.72727%;
    width: 72.72727%; }
  .x9d11--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 81.81818%;
    -moz-box-flex: 1;
    -ms-flex: 1 81.81818%;
    flex: 1 81.81818%;
    width: 81.81818%; }
  .x10d11--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 90.90909%;
    -moz-box-flex: 1;
    -ms-flex: 1 90.90909%;
    flex: 1 90.90909%;
    width: 90.90909%; }
  .x1d12--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 8.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 8.33333%;
    flex: 1 8.33333%;
    width: 8.33333%; }
  .x5d12--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 41.66667%;
    -moz-box-flex: 1;
    -ms-flex: 1 41.66667%;
    flex: 1 41.66667%;
    width: 41.66667%; }
  .x7d12--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 58.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 58.33333%;
    flex: 1 58.33333%;
    width: 58.33333%; }
  .x11d12--m {
    -webkit-box-flex: 1;
    -webkit-flex: 1 91.66667%;
    -moz-box-flex: 1;
    -ms-flex: 1 91.66667%;
    flex: 1 91.66667%;
    width: 91.66667%; } }
