@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,400,300,500,600,700&subset=latin,cyrillic);
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,cyrillic);*/
/*@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700,500&subset=latin,cyrillic);*/
/*
	@module
		title: mixins *n
		type: scss *n
		caption:
			p{ Модуль добавляет в систему заранее подготовленные
			миксины, которые используются в коде. }p
			p{ Чтобы использовать миксины - вставвьте нужный миксин
			в код при помощи директивы bd{ @include my-mixin(mixin-values); }}p
		*n
*/
/*--------------------------------------------------------------------------
	Background and Border Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: background-clip() *n caption: *n arguments: $clip *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: background-origin() *n caption: *n arguments: $origin *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: background-size() *n caption: *n arguments: $size *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: border-bottom-left-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-bottom-right-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-top-right-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-top-left-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: box-shadow() *n caption: *n arguments: $shadow *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Flexible Box Layout
--------------------------------------------------------------------------*/
/*@mixin
		name: align-content() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: align-items() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: align-self() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: flex() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: flex-basis() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-direction() *n caption: bd{flexbox} *n arguments: $direction *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-flow() *n caption: bd{flexbox} *n arguments: $flow *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-grow() *n caption: bd{flexbox} *n arguments: $grow *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-shirk() *n caption: bd{flexbox} *n arguments: $shirk *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-wrap() *n caption: bd{flexbox} *n arguments: $wrap *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: justify-content() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: order() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Text Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: tab-size() *n caption: bd{flexbox} *n arguments: $type *n
		return: -o-, -moz- *n */
/*--------------------------------------------------------------------------
	Animation Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: keyframes() *n caption: animations *n arguments: $name *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-delay() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-direction() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-duration() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-fill-mode() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-iteration-count() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-timing-function() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-play-state() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*--------------------------------------------------------------------------
	Transform Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: backface-visibility() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: perspective() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: perspective-origin() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: transform() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: transform-origin() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: transform-style() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Transitions Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: transition() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-property() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-duration() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-timing-function() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-delay() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*--------------------------------------------------------------------------
	Basic User Interface Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: box-sizing() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: outline-offset() *n caption: UI *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: resize() *n caption: UI *n arguments: $type *n
		return: -moz- *n */
/*@mixin
		name: text-overflow() *n caption: UI *n arguments: $type *n
		return: -o- *n */
/*--------------------------------------------------------------------------
	Multi-column Layout Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: column-count() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-gap() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-color() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-style() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-width() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-span() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-width() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: columns() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Filter Effects Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: filter() *n caption: UI *n arguments: $properties *n
		return: -webkit-, -moz-, -o- *n */
@import url(icons.css);
/*-------------------------------------------------------------
	FILELIST
-------------------------------------------------------------*/
.adk-fileslist-wrapper {
  line-height: 22px;
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  background: #1F253D;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  width: 326px;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  display: none;
  -webkit-transform: translate(-100%, 0) translate3d(0, 0, 0);
  -moz-transform: translate(-100%, 0) translate3d(0, 0, 0);
  -ms-transform: translate(-100%, 0) translate3d(0, 0, 0);
  -o-transform: translate(-100%, 0) translate3d(0, 0, 0);
  transform: translate(-100%, 0) translate3d(0, 0, 0);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .adk-fileslist-wrapper.active {
    display: block;
    visibility: visible;
    z-index: 9999;
    opacity: 1;
    -webkit-transition: 0.3s cubic-bezier(0, 0, 0, 1);
    -moz-transition: 0.3s cubic-bezier(0, 0, 0, 1);
    -o-transition: 0.3s cubic-bezier(0, 0, 0, 1);
    transition: 0.3s cubic-bezier(0, 0, 0, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .adk-fileslist-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none !important; }
  .adk-fileslist-wrapper .filelist-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: #999;
    background: #394165;
    line-height: 30px;
    padding: 0 10px;
    z-index: 2;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4); }
    .adk-fileslist-wrapper .filelist-header span {
      display: table;
      border-collapse: collapse;
      width: 100%;
      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;
      bottom: 0;
      left: auto;
      font-size: 12px;
      text-transform: uppercase;
      clear: both; }
      .adk-fileslist-wrapper .filelist-header span a {
        display: table-cell;
        position: relative;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 900;
        font-size: 10px;
        height: 40px;
        white-space: nowrap;
        text-decoration: none;
        padding: 5px 25px;
        /*border-left: 1px solid #f0f0f0;*/
        /*border-bottom: 1px solid #f0f0f0;*/
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
        box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0px 0 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1); }
        .adk-fileslist-wrapper .filelist-header span a > i {
          display: none; }
        .adk-fileslist-wrapper .filelist-header span a:hover {
          color: #fff; }
        .adk-fileslist-wrapper .filelist-header span a.active {
          background: rgba(255, 255, 255, 0.1);
          color: #fff;
          box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0px 0 0 #1599A1, 0 2px 0 0 #1599A1; }
        .adk-fileslist-wrapper .filelist-header span a.adk-window-place .icon {
          display: block;
          width: 20px;
          height: 20px;
          margin-top: 4px;
          opacity: .2;
          background: url(../dev-tools-img/window-position.png) no-repeat center center;
          background-position: -40px 0; }
        .adk-fileslist-wrapper .filelist-header span a.adk-window-place:hover .icon {
          opacity: .4; }
  .adk-fileslist-wrapper.bottom-place {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 100%; }
    .adk-fileslist-wrapper.bottom-place .filelist-header span .adk-window-place .icon {
      background-position: 0 0; }
  .adk-fileslist-wrapper .adk-fileslist::-webkit-scrollbar {
    width: 6px;
    margin-right: 40px; }
  .adk-fileslist-wrapper .adk-fileslist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .adk-fileslist-wrapper .adk-fileslist::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #1599A1;
    width: 5px; }
  .adk-fileslist-wrapper .adk-fileslist::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(21, 153, 161, 0.5); }
  .adk-fileslist-wrapper .adk-fileslist {
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    overflow-y: auto;
    background: #1F253D; }
    .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul {
      display: block;
      position: relative;
      list-style: none;
      margin: 0;
      /*background: #fff;*/
      padding: 10px 0;
      height: auto;
      -webkit-transition: 0.1s;
      -moz-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s;
      -webkit-transform-origin: top left;
      -moz-transform-origin: top left;
      -ms-transform-origin: top left;
      -o-transform-origin: top left;
      transform-origin: top left; }
      .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul.disabled {
        height: 0;
        opacity: 0;
        padding: 0;
        -webkit-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0); }
      .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul:before {
        box-sizing: border-box;
        content: "\e60b";
        font-family: 'icomoon';
        text-align: center;
        color: #1599A1;
        speak: none;
        font-size: 17px;
        line-height: 1;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 15px;
        top: 10px; }
      .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li {
        display: block; }
        .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li:first-child {
          color: #1599A1;
          margin: 0;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 16px;
          padding-left: 40px;
          padding-bottom: 4px;
          position: relative; }
          .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li:first-child b {
            position: relative;
            left: 10px; }
            .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li:first-child b:before {
              content: '('; }
            .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li:first-child b:after {
              content: ')'; }
        .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li a {
          display: block;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.8);
          font-size: 14px;
          line-height: 16px;
          font-weight: 600;
          padding: 5px 15px 5px 15px; }
          .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li a b {
            color: rgba(255, 255, 255, 0.5);
            font-weight: 400;
            font-size: 12px;
            display: inline-block;
            padding-right: 4px; }
          .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li a i {
            font-style: normal;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 400;
            font-size: 12px; }
          .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li a:hover {
            background: rgba(255, 255, 255, 0.1); }
            .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li a:hover b, .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li a:hover i {
              /*color: #888;*/ }

/*-------------------------------------------------------------
	GRID
-------------------------------------------------------------*/
.adk-grid-wrapper {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 37, 61, 0.3);
  z-index: 9998;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  visibility: hidden;
  display: none;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }
  .adk-grid-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none !important; }
  .adk-grid-wrapper.active, .adk-grid-wrapper[style*="block"] {
    visibility: visible;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
    display: block; }
    .adk-grid-wrapper.active .adk-gridinfo-wrapper, .adk-grid-wrapper[style*="block"] .adk-gridinfo-wrapper {
      -webkit-transition-delay: 0.3s;
      -moz-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s;
      opacity: 1; }
  .adk-grid-wrapper .adk-grid-canvas {
    position: absolute;
    top: 0;
    left: 0; }
    .adk-grid-wrapper .adk-grid-canvas:hover ~ .adk-gridinfo-wrapper {
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
      -webkit-transform: translate(0, 100%);
      -moz-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
      -o-transform: translate(0, 100%);
      transform: translate(0, 100%);
      opacity: 0; }
  .adk-grid-wrapper .adk-gridinfo-wrapper {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    z-index: 9999;
    display: block;
    width: 500px;
    height: auto;
    bottom: 10%;
    left: 50%;
    margin-left: -250px;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0, 1);
    -moz-transition: 0.2s cubic-bezier(0, 0, 0, 1);
    -o-transition: 0.2s cubic-bezier(0, 0, 0, 1);
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
    opacity: 0; }
    .adk-grid-wrapper .adk-gridinfo-wrapper:before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 20%;
      z-index: 2;
      background: transparent;
      bottom: 100%;
      left: 0; }
    .adk-grid-wrapper .adk-gridinfo-wrapper:after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 40%;
      z-index: 2;
      background: transparent;
      top: 100%;
      left: 0; }
    .adk-grid-wrapper .adk-gridinfo-wrapper > * {
      display: block;
      float: left;
      width: 33.3333%;
      text-align: left;
      color: #fff;
      position: relative;
      padding: 25px 20px;
      font-size: 64px;
      line-height: 1;
      font-weight: 100;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      height: 130px; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(1) {
        background: #00BDE1; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(2) {
        background: #57D998; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(3) {
        background: #7557F7; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(4) {
        background: #E8C14C; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(5) {
        background: #E65679; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(6) {
        background: #CA6ED6; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > * b {
        display: block;
        width: 100%;
        font-size: 12px;
        position: absolute;
        text-transform: uppercase;
        bottom: 20px;
        left: 20px; }
        .adk-grid-wrapper .adk-gridinfo-wrapper > * b .icon {
          display: none;
          font-size: 72px; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(4) {
        font-size: 20px;
        white-space: normal;
        padding-top: 30px; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(1) {
        font-size: 50px;
        padding-top: 28px; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(6) {
        padding-top: 30px;
        font-size: 40px; }
        .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(6):after {
          content: 'px';
          display: inline-block;
          font-size: 20px; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(2):after,
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(3):after {
        content: 'px';
        display: inline-block;
        font-size: 20px; }

@media screen and (max-width: 640px) {
  .adk-grid-wrapper .adk-gridinfo-wrapper {
    width: 320px;
    margin-left: -160px; }
    .adk-grid-wrapper .adk-gridinfo-wrapper > * {
      height: 100px;
      font-size: 40px;
      padding: 15px; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(4) {
        font-size: 16px;
        padding-top: 15px; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(1) {
        font-size: 40px;
        padding-top: 15px; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(6) {
        font-size: 30px;
        padding-top: 15px; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(2):after,
      .adk-grid-wrapper .adk-gridinfo-wrapper > *:nth-child(3):after {
        content: 'px';
        display: inline-block;
        font-size: 20px; }
      .adk-grid-wrapper .adk-gridinfo-wrapper > * b {
        bottom: 15px;
        left: 15px;
        font-size: 10px; } }

/*-------------------------------------------------------------
	PIXEL PERFECT
-------------------------------------------------------------*/
.pixel-perfect-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(31, 37, 61, 0.3);
  z-index: 9999;
  background: rgba(31, 37, 61, 0.5);
  overflow: hidden;
  display: none;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }
  .pixel-perfect-wrapper.active {
    display: block; }
  .pixel-perfect-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none !important; }
  .pixel-perfect-wrapper .adk-pixelperfect-image {
    position: relative;
    top: 0;
    left: 50%;
    display: block;
    margin: 0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .pixel-perfect-wrapper .adk-pixelperfect-info {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    bottom: 20%;
    width: 200px;
    z-index: 9999;
    padding: 20px 20px 10px;
    color: #fff;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.8);
    left: 50%;
    margin-left: -100px;
    background: #394165; }
    .pixel-perfect-wrapper .adk-pixelperfect-info input {
      display: none; }
    .pixel-perfect-wrapper .adk-pixelperfect-info .adk-pixel-perfect-text {
      font-size: 100px;
      font-weight: 100;
      line-height: 1;
      margin-bottom: 10px;
      text-align: center; }
      .pixel-perfect-wrapper .adk-pixelperfect-info .adk-pixel-perfect-text:after {
        display: none;
        content: '%';
        padding-left: 10px;
        font-size: 50px; }
    .pixel-perfect-wrapper .adk-pixelperfect-info .adk-pixelperfect-bar {
      display: block;
      background: #1F253D;
      overflow: hidden;
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      padding: 20px; }
      .pixel-perfect-wrapper .adk-pixelperfect-info .adk-pixelperfect-bar:after {
        display: block;
        content: '';
        height: 20px;
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: rgba(57, 65, 101, 0.4);
        z-index: 1; }
      .pixel-perfect-wrapper .adk-pixelperfect-info .adk-pixelperfect-bar .adk-pixelperfect-bar-inner {
        z-index: 2;
        position: relative;
        -webkit-transition: 0.2s cubic-bezier(0, 0, 0, 1.5);
        -moz-transition: 0.2s cubic-bezier(0, 0, 0, 1.5);
        -o-transition: 0.2s cubic-bezier(0, 0, 0, 1.5);
        transition: 0.2s cubic-bezier(0, 0, 0, 1.5);
        height: 20px;
        width: 40%;
        background: #1599A1; }

/*-------------------------------------------------------------
	LINES
-------------------------------------------------------------*/
.adk-lines-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(31, 37, 61, 0.5);
  z-index: 9999;
  font-family: 'Open Sans', sans-serif; }
  .adk-lines-wrapper.active {
    display: block; }
  .adk-lines-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .adk-lines-wrapper .adk-line-x, .adk-lines-wrapper .adk-line-y {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #1F253D;
    font-size: 10px; }
    .adk-lines-wrapper .adk-line-x span, .adk-lines-wrapper .adk-line-y span {
      display: block;
      position: absolute;
      font-style: normal;
      top: 11px;
      left: 10px;
      background: #1F253D;
      white-space: nowrap;
      text-align: center;
      width: 130px;
      padding: 20px 5px 5px;
      color: #fff; }
      .adk-lines-wrapper .adk-line-x span i, .adk-lines-wrapper .adk-line-x span b, .adk-lines-wrapper .adk-line-x span s, .adk-lines-wrapper .adk-line-y span i, .adk-lines-wrapper .adk-line-y span b, .adk-lines-wrapper .adk-line-y span s {
        font-style: normal;
        display: inline-block;
        font-weight: 400;
        font-size: 12px;
        text-decoration: none;
        position: relative;
        padding: 0 5px; }
        .adk-lines-wrapper .adk-line-x span i:before, .adk-lines-wrapper .adk-line-x span b:before, .adk-lines-wrapper .adk-line-x span s:before, .adk-lines-wrapper .adk-line-y span i:before, .adk-lines-wrapper .adk-line-y span b:before, .adk-lines-wrapper .adk-line-y span s:before {
          display: block;
          position: absolute;
          width: 30px;
          font-size: 10px;
          color: #1599A1;
          bottom: 100%;
          left: 50%;
          -webkit-transform: translate(-50%, 0);
          -moz-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
      .adk-lines-wrapper .adk-line-x span b:before, .adk-lines-wrapper .adk-line-y span b:before {
        content: 'win'; }
      .adk-lines-wrapper .adk-line-x span s:before, .adk-lines-wrapper .adk-line-y span s:before {
        content: 'src'; }
      .adk-lines-wrapper .adk-line-x span i:before, .adk-lines-wrapper .adk-line-y span i:before {
        content: 'w+s'; }
      .adk-lines-wrapper .adk-line-x span.bottom, .adk-lines-wrapper .adk-line-y span.bottom {
        top: auto;
        bottom: 10px !important; }
      .adk-lines-wrapper .adk-line-x span.right, .adk-lines-wrapper .adk-line-y span.right {
        left: auto;
        right: 10px !important; }
  .adk-lines-wrapper .adk-line-y {
    position: absolute;
    height: 100%;
    width: 1px;
    background: #1F253D; }
  .adk-lines-wrapper .adk-line-window {
    position: absolute;
    width: 180px;
    bottom: 20px;
    left: 50%;
    margin-left: -90px;
    background: #1F253D;
    color: #fff;
    padding: 8px 15px;
    line-height: 50px;
    white-space: nowrap;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); }
    .adk-lines-wrapper .adk-line-window span {
      display: block;
      font-size: 24px;
      font-weight: 300;
      padding: 1px 0;
      line-height: 40px;
      color: #1599A1; }
      .adk-lines-wrapper .adk-line-window span i {
        margin-right: 10px;
        font-size: 32px;
        line-height: 32px;
        position: relative;
        bottom: 5px;
        display: inline-block;
        vertical-align: middle;
        color: #CC324C; }
