@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,400,300,500,600,700&subset=latin,cyrillic);
/*
	@module
		title: mixins *n
		type: scss *n
		caption:
			p{ Модуль добавляет в систему заранее подготовленные
			миксины, которые используются в коде. }p
			p{ Чтобы использовать миксины - вставвьте нужный миксин
			в код при помощи директивы bd{ @include my-mixin(mixin-values); }}p
		*n
*/
/*--------------------------------------------------------------------------
	Background and Border Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: background-clip() *n caption: *n arguments: $clip *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: background-origin() *n caption: *n arguments: $origin *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: background-size() *n caption: *n arguments: $size *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: border-bottom-left-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-bottom-right-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-top-right-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-top-left-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: box-shadow() *n caption: *n arguments: $shadow *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Flexible Box Layout
--------------------------------------------------------------------------*/
/*@mixin
		name: align-content() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: align-items() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: align-self() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: flex() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: flex-basis() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-direction() *n caption: bd{flexbox} *n arguments: $direction *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-flow() *n caption: bd{flexbox} *n arguments: $flow *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-grow() *n caption: bd{flexbox} *n arguments: $grow *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-shirk() *n caption: bd{flexbox} *n arguments: $shirk *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-wrap() *n caption: bd{flexbox} *n arguments: $wrap *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: justify-content() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: order() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Text Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: tab-size() *n caption: bd{flexbox} *n arguments: $type *n
		return: -o-, -moz- *n */
/*--------------------------------------------------------------------------
	Animation Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: keyframes() *n caption: animations *n arguments: $name *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-delay() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-direction() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-duration() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-fill-mode() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-iteration-count() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-timing-function() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-play-state() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*--------------------------------------------------------------------------
	Transform Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: backface-visibility() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: perspective() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: perspective-origin() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: transform() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: transform-origin() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: transform-style() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Transitions Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: transition() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-property() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-duration() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-timing-function() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-delay() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*--------------------------------------------------------------------------
	Basic User Interface Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: box-sizing() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: outline-offset() *n caption: UI *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: resize() *n caption: UI *n arguments: $type *n
		return: -moz- *n */
/*@mixin
		name: text-overflow() *n caption: UI *n arguments: $type *n
		return: -o- *n */
/*--------------------------------------------------------------------------
	Multi-column Layout Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: column-count() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-gap() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-color() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-style() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-width() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-span() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-width() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: columns() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Filter Effects Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: filter() *n caption: UI *n arguments: $properties *n
		return: -webkit-, -moz-, -o- *n */
@import url(icons.css);
.adk-fileslist-wrapper {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 50%;
  background: rgba(0, 0, 0, 0.4);
  overflow: auto;
  padding: 30px 0;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear; }
  .adk-fileslist-wrapper.active {
    z-index: 9999999;
    opacity: 1;
    top: 0;
    bottom: 0;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0, 1);
    -moz-transition: 0.2s cubic-bezier(0, 0, 0, 1);
    -o-transition: 0.2s cubic-bezier(0, 0, 0, 1);
    transition: 0.2s cubic-bezier(0, 0, 0, 1); }
  .adk-fileslist-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .adk-fileslist-wrapper .adk-fileslist {
    position: relative;
    width: 400px;
    background: #fff;
    left: 50%;
    margin-left: -200px;
    padding: 0px;
    border-radius: 3px;
    padding-top: 60px;
    padding-bottom: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }
    .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul {
      display: block;
      position: relative;
      list-style: none;
      margin: 10px 0;
      padding: 0 0 0 0;
      height: auto;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul.disabled {
        height: 0;
        margin: 0;
        opacity: 0;
        overflow: hidden; }
      .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul:before {
        box-sizing: border-box;
        content: "\e60b";
        font-family: 'icomoon';
        text-align: center;
        color: #435EB6;
        speak: none;
        font-size: 15px;
        line-height: 1;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 20px;
        top: 12px; }
      .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li {
        display: block; }
        .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li:first-child {
          color: #435EB6;
          margin: 0;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 16px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 50px; }
        .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li a {
          display: block;
          text-decoration: none;
          color: #444;
          font-size: 15px;
          font-weight: 600;
          padding: 5px 20px; }
          .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li a b {
            color: #ccc;
            font-weight: 400; }
          .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li a i {
            font-style: normal;
            color: #aaa;
            font-weight: 400; }
          .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li a:hover {
            background: #f0f0f0; }
            .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li a:hover b, .adk-fileslist-wrapper .adk-fileslist .adk-filelist-ul li a:hover i {
              color: #888; }
    .adk-fileslist-wrapper .adk-fileslist .filelist-header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      background: #435EB6;
      border-radius: 2px 2px 0 0;
      clear: both;
      text-align: left;
      font-size: 28px;
      color: #fff;
      line-height: 60px;
      padding: 0 20px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
      .adk-fileslist-wrapper .adk-fileslist .filelist-header span {
        display: block;
        position: absolute;
        z-index: 2;
        right: 20px;
        top: 40px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 18px;
        background: #536cc0;
        cursor: pointer;
        line-height: 40px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        -webkit-transition: 0.2s cubic-bezier(0, 0, 0, 1);
        -moz-transition: 0.2s cubic-bezier(0, 0, 0, 1);
        -o-transition: 0.2s cubic-bezier(0, 0, 0, 1);
        transition: 0.2s cubic-bezier(0, 0, 0, 1); }
        .adk-fileslist-wrapper .adk-fileslist .filelist-header span > i {
          display: block;
          line-height: 40px;
          width: 100%;
          text-align: center;
          width: 40px;
          height: 40px;
          position: absolute;
          right: 0;
          top: 0;
          -webkit-transition: 0.2s cubic-bezier(0, 0, 0, 1);
          -moz-transition: 0.2s cubic-bezier(0, 0, 0, 1);
          -o-transition: 0.2s cubic-bezier(0, 0, 0, 1);
          transition: 0.2s cubic-bezier(0, 0, 0, 1); }
        .adk-fileslist-wrapper .adk-fileslist .filelist-header span hr {
          display: block;
          height: 1px;
          margin: 10px 0;
          border: none;
          background: rgba(255, 255, 255, 0.1); }
        .adk-fileslist-wrapper .adk-fileslist .filelist-header span a {
          -webkit-transition: opacity 0.2s cubic-bezier(0, 0, 0, 1);
          -moz-transition: opacity 0.2s cubic-bezier(0, 0, 0, 1);
          -o-transition: opacity 0.2s cubic-bezier(0, 0, 0, 1);
          transition: opacity 0.2s cubic-bezier(0, 0, 0, 1);
          display: block;
          position: relative;
          color: #fff;
          white-space: nowrap;
          line-height: 34px;
          text-decoration: none;
          font-weight: 600;
          font-size: 12px;
          text-align: left;
          padding: 0 20px;
          font-weight: 400;
          opacity: 0;
          text-transform: uppercase; }
          .adk-fileslist-wrapper .adk-fileslist .filelist-header span a > i {
            font-size: 16px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            bottom: 2px; }
          .adk-fileslist-wrapper .adk-fileslist .filelist-header span a:first-child {
            border-radius: 3px 0 0 0; }
          .adk-fileslist-wrapper .adk-fileslist .filelist-header span a:hover {
            background: rgba(255, 255, 255, 0.1); }
        .adk-fileslist-wrapper .adk-fileslist .filelist-header span:hover {
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          border-radius: 3px;
          padding-top: 10px;
          width: 140px;
          height: 180px; }
          .adk-fileslist-wrapper .adk-fileslist .filelist-header span:hover a {
            -webkit-transition-delay: 0.15s;
            -moz-transition-delay: 0.15s;
            -o-transition-delay: 0.15s;
            transition-delay: 0.15s;
            opacity: 1; }
          .adk-fileslist-wrapper .adk-fileslist .filelist-header span:hover > i {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            opacity: 0; }

@media (max-width: 480px), (max-device-width: 480px) {
  .adk-fileslist-wrapper .adk-fileslist {
    width: 90%;
    margin-left: 5%;
    left: 0; } }
