.g, .paper {
	padding: 10px;
	font-size: 14px;
}
header.main-header {
	/*position: relative;*/
	height: 50px;
	.logo {
		padding-left: 5px;
		width: 100%;
		display: block;
		padding-top: 0px;
		line-height: 40px;
		margin-top: -5px;
		white-space: nowrap;
	}
	.main-nav {
		display: none;
		border-top: 4px solid #222;
		position: absolute;
		width: 100%;
		height: auto;
		top: 100%;left:0;
		background: #000;
		li {
			display: block;
			width: 100%;
			text-align: left;
			line-height: 40px;
			a {
				width: 100%;
				padding-left: 30px;
				line-height: 40px;
			}
		}
		&.active {
			display: block;
		}
	}
}
.show-menu {
	display: block;
	@include box-sizing(border-box);
	padding: 0 !important;
	width: 60px;height: 50px;
	background: $orange;
	position: absolute;
	top: 0; right: 0;
	z-index: 11;
	padding-top: 6px;
	border: none;
	box-shadow: none !important;
	i {
		display: block;
		margin: 8px auto;
		height: 2px;
		width: 30px;
		background: #fff;
	}
	&:hover {
		background: lighten($orange, 10%);
		border: none;
		box-shadow: none !important;
	}
	&.active {
		background: darken($orange, 10%);
		border: none;
		box-shadow: none !important;
	}
}