@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,700,100&subset=latin,cyrillic);
/*
	@module
		title: mixins *n
		type: scss *n
		caption:
			p{ Модуль добавляет в систему заранее подготовленные
			миксины, которые используются в коде. }p
			p{ Чтобы использовать миксины - вставвьте нужный миксин
			в код при помощи директивы bd{ @include my-mixin(mixin-values); }}p
		*n
*/
/*--------------------------------------------------------------------------
	Background and Border Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: background-clip() *n caption: *n arguments: $clip *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: background-origin() *n caption: *n arguments: $origin *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: background-size() *n caption: *n arguments: $size *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: border-bottom-left-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-bottom-right-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-top-right-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-top-left-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: border-radius() *n caption: *n arguments: $radius *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: box-shadow() *n caption: *n arguments: $shadow *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Flexible Box Layout
--------------------------------------------------------------------------*/
/*@mixin
		name: align-content() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: align-items() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: align-self() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: flex() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz-, -ms- *n */
/*@mixin
		name: flex-basis() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-direction() *n caption: bd{flexbox} *n arguments: $direction *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-flow() *n caption: bd{flexbox} *n arguments: $flow *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-grow() *n caption: bd{flexbox} *n arguments: $grow *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-shirk() *n caption: bd{flexbox} *n arguments: $shirk *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: flex-wrap() *n caption: bd{flexbox} *n arguments: $wrap *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: justify-content() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: order() *n caption: bd{flexbox} *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Text Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: tab-size() *n caption: bd{flexbox} *n arguments: $type *n
		return: -o-, -moz- *n */
/*--------------------------------------------------------------------------
	Animation Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: keyframes() *n caption: animations *n arguments: $name *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-delay() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-direction() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-duration() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-fill-mode() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-iteration-count() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-timing-function() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: animation-play-state() *n caption: animations *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*--------------------------------------------------------------------------
	Transform Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: backface-visibility() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: perspective() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: perspective-origin() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: transform() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: transform-origin() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz-, -ms-, -o- *n */
/*@mixin
		name: transform-style() *n caption: transformations *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Transitions Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: transition() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-property() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-duration() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-timing-function() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*@mixin
		name: transition-delay() *n caption: transitions *n arguments: $type *n
		return: -webkit-, -moz-, -o- *n */
/*--------------------------------------------------------------------------
	Basic User Interface Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: box-sizing() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: outline-offset() *n caption: UI *n arguments: $type *n
		return: -webkit- *n */
/*@mixin
		name: resize() *n caption: UI *n arguments: $type *n
		return: -moz- *n */
/*@mixin
		name: text-overflow() *n caption: UI *n arguments: $type *n
		return: -o- *n */
/*--------------------------------------------------------------------------
	Multi-column Layout Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: column-count() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-gap() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-color() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-style() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-width() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-rule-span() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: column-width() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*@mixin
		name: columns() *n caption: UI *n arguments: $type *n
		return: -webkit-, -moz- *n */
/*--------------------------------------------------------------------------
	Filter Effects Properties
--------------------------------------------------------------------------*/
/*@mixin
		name: filter() *n caption: UI *n arguments: $properties *n
		return: -webkit-, -moz-, -o- *n */
#dev-pixel-perfect {
  font-family: 'Exo 2', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.4); }
  #dev-pixel-perfect > * > img {
    position: relative;
    display: block;
    margin: 0 auto; }

#dev-tools-pixel-input,
#dev-tools-pixel-input + span {
  font-family: 'Exo 2', sans-serif;
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  border: 0 solid transparent;
  width: 120px;
  height: 80px;
  bottom: 100px;
  right: 50px;
  font-size: 70px;
  color: #fff;
  font-weight: 100;
  line-height: 80px;
  padding: 0 10px;
  box-sizing: border-box; }
  #dev-tools-pixel-input + span,
  #dev-tools-pixel-input + span + span {
    width: 50px;
    right: 0;
    padding: 0;
    font-size: 40px;
    text-align: left;
    line-height: 100px; }

.dev-tools-opacity-title {
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  width: 150px;
  padding-left: 20px;
  right: 0;
  z-index: 9999;
  bottom: 180px; }

#dev-grid-block > div {
  white-space: nowrap;
  color: #ddd;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  font-size: 16px;
  opacity: 1 !important;
  text-align: center;
  background: #000 !important;
  line-height: 20px;
  font-weight: 100;
  font-family: 'Exo 2', sans-serif; }
  #dev-grid-block > div b {
    color: #fff; }

.__link {
  display: block;
  width: 100%;
  max-width: 420px;
  margin: 0 auto 10px;
  text-align: left;
  position: relative;
  z-index: 2;
  overflow: hidden;
  text-decoration: none; }
  .__link:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1); }
  .__link:hover img {
    border-color: #fff !important;
    transition: 0.2s cubic-bezier(0, 0, 0, 1); }
  .__link img {
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
    width: 22px;
    margin-right: 20px;
    transition: 1s cubic-bezier(0, 0, 0, 1); }
  .__link > span {
    display: inline-block;
    vertical-align: middle;
    width: 320px;
    color: #bbb;
    font-weight: 100;
    font-size: 22px;
    line-height: 18px;
    transition: .1s; }
  .__link.html img {
    border: 2px solid #d4826d; }
  .__link.css img {
    border: 2px solid #699ff6; }
  .__link.js img {
    border: 2px solid #f2c066; }
  .__link.other img {
    border: 2px solid #eee; }

#dev-sums-block {
  top: 0;
  height: 55px;
  background: #fff;
  color: #444;
  text-align: center;
  box-shadow: 0 0 0 4px #000; }

#dev-files-block {
  top: 55px !important; }

.dev-counter {
  color: #000;
  line-height: 50px;
  font-size: 20px;
  font-weight: 300;
  padding: 0 20px;
  height: 55px;
  cursor: pointer;
  display: inline-block; }
  .dev-counter:hover {
    background: #000;
    color: #fff; }
  .dev-counter img {
    display: inline-block;
    vertical-align: middle;
    width: 24px; }
  .dev-counter b {
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 100; }

.dev-tools-boxer-hint {
  background: rgba(238, 68, 85, 0.6);
  color: #fff;
  position: absolute;
  z-index: 9999999;
  border: 1px solid #ea152b;
  /*margin-top: 10px;*/ }
  .dev-tools-boxer-hint:before, .dev-tools-boxer-hint:after {
    content: '';
    height: 1000px;
    position: absolute;
    width: 0;
    bottom: 100%; }
  .dev-tools-boxer-hint:before {
    left: -1px;
    border-left: 1px dashed #ee4455; }
  .dev-tools-boxer-hint:after {
    right: -1px;
    border-right: 1px dashed #ee4455; }
  .dev-tools-boxer-hint .dev-tools-boxer-hint-border {
    position: absolute;
    background: rgba(235, 231, 122, 0.6);
    border: 1px solid #e4df4e; }
    .dev-tools-boxer-hint .dev-tools-boxer-hint-border:before, .dev-tools-boxer-hint .dev-tools-boxer-hint-border:after {
      content: '';
      height: 1000px;
      position: absolute;
      width: 0;
      bottom: 100%; }
    .dev-tools-boxer-hint .dev-tools-boxer-hint-border:before {
      left: -1px;
      border-left: 1px dashed #EBE77A; }
    .dev-tools-boxer-hint .dev-tools-boxer-hint-border:after {
      right: -1px;
      border-right: 1px dashed #EBE77A; }
    .dev-tools-boxer-hint .dev-tools-boxer-hint-border .dev-tools-boxer-hint-padding {
      position: absolute;
      background: rgba(122, 235, 143, 0.6);
      border: 1px solid #4ee46a; }
      .dev-tools-boxer-hint .dev-tools-boxer-hint-border .dev-tools-boxer-hint-padding:before, .dev-tools-boxer-hint .dev-tools-boxer-hint-border .dev-tools-boxer-hint-padding:after {
        content: '';
        height: 1000px;
        position: absolute;
        width: 0;
        bottom: 100%; }
      .dev-tools-boxer-hint .dev-tools-boxer-hint-border .dev-tools-boxer-hint-padding:before {
        left: -1px;
        border-left: 1px dashed #7AEB8F; }
      .dev-tools-boxer-hint .dev-tools-boxer-hint-border .dev-tools-boxer-hint-padding:after {
        right: -1px;
        border-right: 1px dashed #7AEB8F; }
      .dev-tools-boxer-hint .dev-tools-boxer-hint-border .dev-tools-boxer-hint-padding .dev-tools-boxer-hint-content {
        position: absolute;
        background: rgba(122, 188, 235, 0.6);
        border: 1px solid #4ea6e4; }
        .dev-tools-boxer-hint .dev-tools-boxer-hint-border .dev-tools-boxer-hint-padding .dev-tools-boxer-hint-content:before, .dev-tools-boxer-hint .dev-tools-boxer-hint-border .dev-tools-boxer-hint-padding .dev-tools-boxer-hint-content:after {
          content: '';
          height: 1000px;
          position: absolute;
          width: 0;
          bottom: 100%; }
        .dev-tools-boxer-hint .dev-tools-boxer-hint-border .dev-tools-boxer-hint-padding .dev-tools-boxer-hint-content:before {
          left: -1px;
          border-left: 1px dashed #7ABCEB; }
        .dev-tools-boxer-hint .dev-tools-boxer-hint-border .dev-tools-boxer-hint-padding .dev-tools-boxer-hint-content:after {
          right: -1px;
          border-right: 1px dashed #7ABCEB; }
  .dev-tools-boxer-hint hr {
    display: block;
    height: 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .dev-tools-boxer-hint .dev-tools-boxer-hint-info {
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    min-height: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px; }
    .dev-tools-boxer-hint .dev-tools-boxer-hint-info div:not(.dev-tools-info-path) {
      display: block; }
    .dev-tools-boxer-hint .dev-tools-boxer-hint-info .dev-tools-info-margin {
      color: #ee4455; }
      .dev-tools-boxer-hint .dev-tools-boxer-hint-info .dev-tools-info-margin span {
        width: 15%;
        max-width: 50px;
        display: inline-block;
        font-size: 10px; }
      .dev-tools-boxer-hint .dev-tools-boxer-hint-info .dev-tools-info-margin b {
        font-weight: 400;
        font-size: 14px;
        display: inline-block; }
    .dev-tools-boxer-hint .dev-tools-boxer-hint-info .dev-tools-info-border {
      color: #EBE77A; }
      .dev-tools-boxer-hint .dev-tools-boxer-hint-info .dev-tools-info-border span {
        width: 15%;
        max-width: 50px;
        display: inline-block;
        font-size: 10px; }
      .dev-tools-boxer-hint .dev-tools-boxer-hint-info .dev-tools-info-border b {
        font-weight: 400;
        font-size: 14px;
        display: inline-block; }
    .dev-tools-boxer-hint .dev-tools-boxer-hint-info .dev-tools-info-padding {
      color: #7AEB8F; }
      .dev-tools-boxer-hint .dev-tools-boxer-hint-info .dev-tools-info-padding span {
        width: 15%;
        max-width: 50px;
        display: inline-block;
        font-size: 10px; }
      .dev-tools-boxer-hint .dev-tools-boxer-hint-info .dev-tools-info-padding b {
        font-weight: 400;
        font-size: 14px;
        display: inline-block; }
    .dev-tools-boxer-hint .dev-tools-boxer-hint-info .dev-tools-info-content {
      color: #7ABCEB; }
      .dev-tools-boxer-hint .dev-tools-boxer-hint-info .dev-tools-info-content span {
        width: 15%;
        max-width: 50px;
        display: inline-block;
        font-size: 10px; }
      .dev-tools-boxer-hint .dev-tools-boxer-hint-info .dev-tools-info-content b {
        font-weight: 400;
        font-size: 14px;
        display: inline-block; }
  .dev-tools-boxer-hint .dev-tools-info-path {
    position: fixed;
    z-index: 999999;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    font-size: 14px;
    color: #EBE77A;
    padding: 7px 12px;
    background: rgba(0, 0, 0, 0.7); }
    .dev-tools-boxer-hint .dev-tools-info-path b {
      font-weight: normal;
      color: #7AEB8F; }
    .dev-tools-boxer-hint .dev-tools-info-path s {
      font-style: normal;
      text-decoration: none;
      color: #7ABCEB; }
    .dev-tools-boxer-hint .dev-tools-info-path i {
      font-style: normal;
      text-decoration: none;
      color: #7ABCEB;
      padding: 0 2px; }

.dev-tools-active {
  opacity: .5 !important; }
