/* -----------------------------------------------------
	fonts weight
*/

.light {
	font-weight: 100;
}
.semilight {
	font-weight: 300;
}
.regular {
	font-weight: 400;
}
.bold {
	font-weight: 500;
}
.boldest {
	font-weight: 700;
}
.extrabold {
	font-weight: 900;
}
.italic {
	font-style: italic;
}

.lower {
	text-transform: lowercase;
}
.upper {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}
a.underline:hover {
	text-decoration: none;
}
.rev-underline {
	text-decoration: none;
}
a.rev-underline:hover {
	text-decoration: underline;
}

/* -----------------------------------------------------
	fonts size
*/

@for $i from $min_font_size through $max_font_size {
  .font-#{$i} {
    font-size: #{$i}px;
  }
}