/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,400,300,500,600,700&subset=latin,cyrillic);*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,cyrillic);*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700,500&subset=latin,cyrillic);

@import '../../../scss/_mixins/_mixins.scss';
@import 'icons.css';

$blue: #435EB6;
$red: #B64386;
$light: #e0e0ff;
$orange: #DD4814;

$shadow: 0 1px 5px rgba(0,0,0,.5);


.adk-fileslist-wrapper {
	line-height: 22px;
	position: fixed;
	background: #fff;
	overflow: hidden;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
	display: none;
	width: 0;
	visibility: hidden;
	z-index: -1;
	/*left: 0; top: 0; bottom: 100%; right: 100%;*/
	left: 0; top: 0; bottom: 0; right: auto;
	border-right: 1px solid #999;
	box-shadow: 0 0 10px rgba(0,0,0,.4);
	&.active {
		visibility: visible;
		display: block;
		z-index: 99999;
		width: 320px;
		left: 0; top: 0; bottom: 0; right: auto;
	}

	* {
		@include box-sizing(border-box);
	}

	.filelist-header {
		position: absolute;
		top: 0; left: 0; right: 0;
		height: 28px;
		text-align: left;
		font-size: 14px;
		font-weight: 700;
		color: #999;
		background: #f0f0f0;
		line-height: 30px;
		padding: 0 10px;
		border-bottom: 1px solid #ccc;

		span {
			display: block;
			position: absolute;
			z-index: 2;
			right: 0; top: 0; bottom: 0; left: auto;
			font-size: 14px;
			clear: both;
			a {
				display: inline-block;
				position: relative;
				color: #888;
				float: right;
				font-weight: 400;
				font-size: 12px;
				height: 28px;
				white-space: nowrap;
				text-decoration: none;
				padding: 0 10px;
				border-left: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				>i {
					display: none;
				}
				&:hover {
					color: #444;
				}
				&.active {
					color: $orange;
					/*box-shadow: inset 0 0 10px rgba(0,0,0,.1);*/
				}
				&.adk-window-place {
					.icon {
						display: block;
						width: 20px; height: 20px;
						margin-top: 4px;
						opacity: .2;
						background: url(../dev-tools-img/window-position.png) no-repeat center center;
						background-position: -40px 0;
					}
					&:hover .icon {
						opacity: .4;
					}
				}
			}
		}
	}

	&.bottom-place {
		top: auto; bottom: 0; left: 0; right: 0;
		height: 300px; width: 100%;
		.filelist-header span .adk-window-place .icon {
			background-position: 0 0;
		}
	}

	.adk-fileslist {
		position: absolute;
		left: 0; top: 28px; bottom: 0; right: 0;
		overflow: hidden;
		overflow-y: auto;
		background: #fff;

		.adk-filelist-ul {
			display: block;
			position: relative;
			list-style: none;
			margin: 0;
			background: #fff;
			padding: 10px 0;
			height: auto;
			border-bottom: 1px solid #ddd;
			&.disabled {
				display: none;
			}
			&:before {
				box-sizing: border-box;
				content: "\e60b";
				font-family: 'icomoon';
				text-align: center;
				color: $orange;
				speak: none;
				font-size: 15px;
				line-height: 1;
				width: 16px; height: 16px;
				position: absolute;
				left: 10px; top: 12px;
			}
			li {
				display: block;
				&:first-child {
					color: $orange;
					margin: 0;
					font-weight: 600;
					text-transform: uppercase;
					font-size: 14px;
					padding-left: 32px;
					padding-bottom: 4px;
				}
				a {
					display: block;
					text-decoration: none;
					color: #444;
					font-size: 12px;
					line-height: 16px;
					font-weight: 400;
					padding: 3px 10px 3px 32px;
					b {
						color: #ccc;
						font-weight: 400;
					}
					i {
						font-style: normal;
						color: #aaa;
						font-weight: 400;
					}
					&:hover {
						background: lighten($orange,40);
						b, i {
							color: #888;
						}
					}
				}
			}
		}
	}
}